<!doctype html>
{% load static %}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Base template</title>
    <link rel="stylesheet" href="{% static 'rss_app/bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static 'rss_app/style.css' %}" />
  </head>
<body>


<div id="header" class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav">
            <li><a class="nav-link" href="{% url 'timeline' %}">Timeline</a></li>
            <li><a class="nav-link" href="{% url 'index' %}">Sources</a></li>
        </ul>
    </div>
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<script src="{% static 'rss_app/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
