{% extends "rss_app/base.html" %}

{% block content %}

{% if source_list %}
<p>Source List</p>

{% for source in source_list %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ source.title }}</h5>
    <p class="card-text">
      {{ source.last_fetched }} <br/>
      {{ source.url }}<br/>
      {{ source.description }}
    </p>
    <a href="{% url 'source' source.id %}" class="card-link">Page</a>
    <a href="{{ source.url }}" class="card-link">Source</a>
  </div>
</div>
{% endfor %}

{% else %}
  <p>No sources are available.</p>
{% endif %}

<p><form action="{% url 'add' %}" method="post">
  {% csrf_token %}
  <input type="text" name="newurl" id="newurl" />
  <input type="submit" value="Add source" />
</form></p>

<p><form action="{% url 'fetch_all' %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Fetch All" />
</form></p>

{% endblock %}
