<div class="card">
<div class="card-body p-2">
    <button class="card-title btn btn-outline-secondary d-block w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
        {{ item.source.title }}:<br/>{{ item.title }}
    </button>
    <div id="collapse{{ forloop.counter }}" class="collapse rss-item">
        <div><a href="{{ item.url }}">{{item.pub_date}}</a></div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="seenBox{{ forloop.counter }}">
            <label class="form-check-label" for="seenBox{{ forloop.counter }}">
            Read
            </label>
            <script>
            $(function() {
                const myModal = document.querySelector('#seenBox{{ forloop.counter }}')
                myModal.addEventListener('change', event => {
                if (myModal.checked) {
                    $.post("{% url 'mark_read' item.id %}", {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                    })
                } else {
                    $.post("{% url 'mark_unread' item.id %}", {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                    })
                }
                return event.preventDefault() // stops modal from being shown
                })
            })
            </script>
        </div>
        <div class="container">
            {% autoescape off %}{{ item.content }}{% endautoescape %}
        </div>
    </div>
</div>
</div>
