{% extends "rss_app/base.html" %}

{% block content %}

<p>Source Details</p>
<p><a href="{{ source.url }}">Title: {{ source.title }}</a></p>
<p>{{ source.last_fetched }}</p>

<form action="{% url 'fetch' source.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Fetch" />
</form>

<h3>Items</h3>
{% for item in items %}
<hr/>
<h4><a href="{{item.url}}">{{item.title}}</a></h4>

<p>{% if item.author|length > 1 %}{{ item.author }} - {% endif %}{{ item.pub_date }}</p>
<p>{{ item.guid }}</p>

{% if item.content|length < 500 %}
<p>{% autoescape off %}
  {{ item.content }}
{% endautoescape %}</p>
{% endif %}

{% endfor %}

{% endblock %}
