<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
  </head>
<body>

<p>Source Details</p>
<p>{{ source.url }}</p>

<form action="{% url 'source' source.id %}fetch/" method="post">
  {% csrf_token %}
  <input type="submit" value="Fetch" />
</form>

<h3>Items</h3>
{% for item in items %}

<h4><a href="{{item.url}}">{{item.title}}</a></h4>
{% if item.author|length > 1 %}
<p>{{ item.author }}</p>
{% endif %}

{% if item.content|length < 500 %}

{% comment %}<code>{{item.content}}</code>{% endcomment %}

<p>{% autoescape off %}
  {{ item.content }}
{% endautoescape %}</p>
{% endif %}

{% endfor %}

</body>
</html>
