{% extends "rss_app/base.html" %}

{% block content %}

<p>Source Details</p>
<p><a href="{{ source.url }}">Title: {{ source.title }}</a></p>
<p>{{ source.last_fetched }}</p>

<form action="{% url 'fetch' source.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Fetch" />
</form>

<form action="{% url 'delete' source.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Delete" />
</form>

<h3>Items</h3>
{% for item in item_list %}
  {% include "rss_app/item_snippet.html" %}
{% endfor %}

{% endblock %}
