{% extends "rss_app/base.html" %}

{% block content %}

{% if item_list %}
<p>Item List</p>

<div class="accordion" id="accordionExample" style="max-width: 768px">
{% for item in item_list %}
  {% ifchanged %}
    <h6 class="mt-2 mb-1">{{item.pub_date.date}}</h6>
  {% endifchanged %}
  {% include "rss_app/item_snippet.html" %}
{% endfor %}
</div>
{% else %}
  <p>No items are available.</p>
{% endif %}

<p><form action="{% url 'add' %}" method="post">
  {% csrf_token %}
  <input type="text" name="newurl" id="newurl" />
  <input type="submit" value="Add source" />
</form></p>

<p><form action="{% url 'fetch_all' %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Fetch All" />
</form></p>

{% endblock %}
